# Ignore build artifacts
dist/
build/

# Ignore Node.js dependencies
node_modules/

# Test result directories
allure-results/
test-results/
accessibility-report/

# Configuration and temp files
.env
package-lock.json

# Ignore IDE and OS-specific files
.vscode/
.idea/
.DS_Store
