# Node.js dependencies
node_modules/

# Test result directories
allure-results/
test-results/
accessibility-report/

# Configuration and lock files
package-lock.json

# IDE specific files
.vscode/
.idea/

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
